# copy this file to .env.local to start dev

NODEGET_CONFIG='{
  "user_preferences":{
    "site_name": "NodeGet Status",
    "site_title": "",
    "site_logo": "",
    "footer": "Powered by NodeGet",
    "dashboard_url": "https://dash.nodeget.com/",
    "default_color_mode": "auto",
    "card_latency_monitor_name": "",
    "latency_aggregate_route": "",
    "show_value_stats_card": true,
    "show_online_total_card": true,
    "show_expiring_7_days_card": true,
    "show_expiring_soon_card": true
  },
  "site_tokens": [
    {
      "name": "master server node 1",
      "backend_url": "wss://your-backend.example.com",
      "token": "YOUR_TOKEN_HERE"
    }
  ]
}'
